
  
@media screen and (max-device-width: 960px)  {
    body{
        min-height: 515px;
    }
    .outerContainer {
        
        
        .permaViewContainer {
            width: 0px;
            left: -10%;

           
        }
        .insightContainer{
            form{
                height: 75%;
            }
            width: 95%;
            .navDiv {
                padding-left: 2%;
                padding-right: 2%;
                bottom: 0vh;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 1rem;
            }
            label.error{
                font-size: 0.5rem;
                bottom: calc(100% - 84px);
            }
            .outsightContainer {
                padding-right: 7vw;
            label{
                width: 65%;
                text-align: start;
            }
             .newRatios label{
                width: 20%;
            }
        }
            
            label#profesion-error.error,
            label#ocupacion-error.error,
            label#colonia-error.error{
                bottom: calc(100% - 92px);
            }
            label#emailP-error.error,
            label#emailT-error.error,
            label#domicilio-error.error,
            label#telefono-error.error,
            label#movil-error.error,{
                bottom: calc(100% - 84px);
            }

            label#depto-error.error,
            label#municipio-error.error,
            label#ciudad-error.error{
                bottom: calc(100% - 93px);
            }

            label#valueID-error.error {
                right: 2.5%;
                bottom: calc(100% - 65px);
            }

        }
        .appViewContainer {
            width: 100vw;
            .startContainer{
                div button,div input[type="submit"] {
                    
                    width: 40vw;
                    
                    font-size: 1rem;
                }
                .divLogoContainer{
                    height: 25vh;
                }
                .logoAtlantida {
                    width: 50vw;
                }
            div select,div input[type="email"],   div input[type="text"]{
                font-size: 1rem;
            }
            .ingresarSvg{
                right: 30%;
                width: 25vw;
                height: 25vw;
            }    
            h1{
                font-size: 1rem;
            }
            h2{
                font-size: 0.9rem;
                height: 50px;
                margin-bottom: 15px;
            }
        }
    
    }
  }
  .outerContainer.loading .permaViewContainer svg.logoCampaign{
    width: 300%;
                height: 300px;
                max-width: unset;
                position: relative;
                right: -5%;
  }
  .outerContainer .appViewContainer .bg-image, {
   
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    
}
.outerContainer .permaViewContainer .bg-image{
    width: 105%;
    height: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    border-radius: 0px;
}

}

