








<template name="clienteNoSePermite">
        <div class="insightContainer">
            <div>
                    <h1>Estimado (a) <strong>{{getName}} {{getLast}}</strong></h1>
                    <h2>No se permite actualizar datos si está sujeto a "fatca"</h2>
            </div>
            <!-- <button class="iniciarForm">Comenzar</button> -->
            
            <!-- <div class="logoSection">
                    <div class="logo"> -->
                            <div class="navDiv" style="justify-content: center;">
                                    <button class="Aceptar">Regresar</button>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
                
        </div>
    </template>