
<template name="clienteExiste">
        <div class="insightContainer">
        <div><h1>Bienvenido(a) <strong>{{getName}} {{getLast}}</strong></h1></div>
            <!-- <button class="iniciarForm">Comenzar</button> -->
        <p>Favor rellenar los campos correspondientes</p>    
            <!-- <div class="logoSection">
                    <div class="logo"> -->
            <div class="navDiv" style="justify-content: center;">
            <input type="submit" class="iniciarSecuencia" value="Siguiente">
        </div>
                    <!-- </div> -->
                <!-- </div> -->
                
        </div>
    </template>