<template name="clienteNoSePermite">
        <div class="insightContainer">
            <div>
                    <h1>Estimado (a) <strong>{{getName}} {{getLast}}</strong></h1>
                    <h2>Debes abocarte a nuestras agencias a realizar una actualización por ser 
                                residente en Estados Unidos, invitarte a abocarte a cualquiera de nuestras agencias
                                 para actualizar tu información complementaria con nuestros asesores y el recibirá tu
                                  número de boleto para participar en nuestra promoción.
                                   ¡Muchas gracias!
                        </h2>
            </div>
            <div class="navDiv" style="justify-content: center;">
                        <button class="Aceptar">Regresar</button>
            </div>
        </div>
</template>